.work-link {
  height: 60px;
  background-color: $lilac-color;
}

.work-container {
  padding: 50px 30px;
  background-color: $yellow-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 40px;
  }

  .portfolio-work {
    img {
      width: 100%;
      margin: 30px auto;
      margin-top: 50px;
      box-shadow: 0 0 15px rgba($dark-color, 0.85);
      border-radius: 5px;

      &:hover {
        box-shadow: 0 0 20px rgba($dark-color, 1.85);
      }

      &:active {
        box-shadow: 0 0 15px rgba($dark-color, 0.55);
      }
    }
  }
}

//MEDIA QUERIES

@media screen and (min-width: 768px) {
  .portfolio-work {
    img {
      width: 120%;
    }
  }
}

@media screen and (min-width: 1025px) {
  .portfolio-work {
    img {
      max-width: 800px;
    }
  }
}
