.success {
  padding: 60px;

  img {
    width: 80px;
    align-self: center;
  }

  .success-text {
    padding: 20px;

    h1 {
      margin: 10px;
    }
  }

  a {
    @include buttons ($pink-color);
  }
}