@import 'config';
@import 'header';
@import 'bio';
@import 'work';
@import 'quote';
@import 'contact';
@import 'skills';
@import 'about-me';
@import 'CV';
@import 'footer';
@import 'success';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  text-align: center;

  h1 {
    font-size: map-get($font-sizes, extra-large);
    font-weight: map-get($font-weights, bold );
    font-family: 'Oswald', sans-serif;
    color: $dark-color;
    margin-bottom: 20px;
  }

  h2 {
    font-weight: map-get($font-weights, bold);
    font-size: map-get($font-sizes, large );
    font-family: 'Oswald', sans-serif;
    color: $dark-color;
    margin-bottom: 10px;
    text-align: center;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: map-get($font-weights, bold);
    font-size: map-get($font-sizes, normal);
    color: $dark-color;
    text-align: center;
  }

  h4 {
    font-family: 'Playfair Display', serif;
    font-weight: map-get($font-weights, bold);
    font-size: map-get($font-sizes, normal);
  }

  p {
    font-size: map-get($font-sizes, small );
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
    color: $dark-color;
  }
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: $light-color;
}

::-webkit-scrollbar-thumb {
  background-color: $pink-color;
  border-radius: 0.25rem;
  
  &:hover {
    background-color: darken($pink-color, 5);
  }
}

//MEDIA QUERIES

@media screen and (min-width: 768px) {
  body {
    h1 {
      font-size: map-get($font-sizes, extra-large);
    }

    h2 {
      font-size: map-get($font-sizes, large);
    }

    p {
      font-size: map-get($font-sizes, normal);
      line-height: 22px;
    }
  }
}